In [1]:
import pandas as pd

In [2]:
cols = [i for i in range(27)]

In [3]:
df = pd.read_csv('./0809AUTOTRD.txt' , names= cols)

In [4]:
df.head().transpose()

,0,1,2,3,4
0,500113235,750089439,500163051,500163055,500163095
1,11,11,11,11,11
2,OPTIDX,OPTIDX,OPTIDX,OPTIDX,OPTIDX
3,BANKNIFTY,BANKNIFTY,BANKNIFTY,BANKNIFTY,BANKNIFTY
4,12AUG2021,12AUG2021,12AUG2021,12AUG2021,12AUG2021
5,37800.00,33800.00,37800.00,37800.00,37800.00
6,CE,PE,CE,CE,CE
7,BANKNIFTY2181237800CE,BANKNIFTY2181233800PE,BANKNIFTY2181237800CE,BANKNIFTY2181237800CE,BANKNIFTY2181237800CE
8,0,0,0,0,0
9,,,,,
10,1,1,1,1,1
11,41493,41493,41493,41493,41493
12,2,2,2,2,2
13,2,2,2,2,2
14,25,25,25,25,25
15,10.5,10.0,11.55,11.55,11.55
16,1,1,1,1,1
17,AL304,AL304,AL304,AL304,AL304
18,10798,10798,10798,10798,10798
19,OPEN,OPEN,OPEN,OPEN,OPEN
20,UNCOVER,UNCOVER,UNCOVER,UNCOVER,UNCOVER
21,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
22,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
23,1400000000878398,1600000000768709,1400000001297426,1400000001297456,1400000001298009
24,Nil,Nil,Nil,Nil,Nil
25,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
26,CT533,CT533,CT533,CT533,CT533

In [11]:
df[17].unique()

array(['AL304     ', 'AL310     ', 'AL306     ', 'AL303     ',
       'AL307     ', 'AL314     ', 'AL313     ', 'AL301     ',
       'AL312     '], dtype=object)

In [12]:
df[26].unique()

array(['CT533', 'CT540'], dtype=object)

In [13]:
df[df[17]=='AL304     ']

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,500113235,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,1400000000878398,Nil,09 AUG 2021 09:16:50,CT533
1,750089439,11,OPTIDX,BANKNIFTY,12AUG2021,33800.00,PE,BANKNIFTY2181233800PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,1600000000768709,Nil,09 AUG 2021 09:16:50,CT533
2,500163051,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001297426,Nil,09 AUG 2021 09:17:40,CT533
3,500163055,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001297456,Nil,09 AUG 2021 09:17:40,CT533
4,500163095,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001298009,Nil,09 AUG 2021 09:17:40,CT533
5,750121330,11,OPTIDX,BANKNIFTY,12AUG2021,33800.00,PE,BANKNIFTY2181233800PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1600000001110768,Nil,09 AUG 2021 09:17:40,CT533
6,750121332,11,OPTIDX,BANKNIFTY,12AUG2021,33800.00,PE,BANKNIFTY2181233800PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1600000001110792,Nil,09 AUG 2021 09:17:40,CT533
7,750121369,11,OPTIDX,BANKNIFTY,12AUG2021,33800.00,PE,BANKNIFTY2181233800PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1600000001111278,Nil,09 AUG 2021 09:17:40,CT533
9,375032932,11,OPTSTK,ITC,30SEP2021,215.00,PE,ITC21SEP215PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:19:46,09 AUG 2021 09:19:46,1300000001056602,Nil,09 AUG 2021 09:19:46,CT533
11,500318552,11,OPTIDX,BANKNIFTY,12AUG2021,35900.00,CE,BANKNIFTY2181235900CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:21:07,09 AUG 2021 09:21:07,1400000002812580,Nil,09 AUG 2021 09:21:07,CT533
12,750232366,11,OPTIDX,BANKNIFTY,12AUG2021,35900.00,PE,BANKNIFTY2181235900PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:21:07,09 AUG 2021 09:21:07,1600000002500720,Nil,09 AUG 2021 09:21:07,CT533
17,625131372,11,OPTSTK,PVR,26AUG2021,1320.00,PE,PVR21AUG1320PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:31:07,09 AUG 2021 09:31:07,1500000003988363,Nil,09 AUG 2021 09:31:07,CT533
18,625142472,11,OPTSTK,PVR,26AUG2021,1340.00,CE,PVR21AUG1340CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:33:10,09 AUG 2021 09:33:10,1500000004944293,Nil,09 AUG 2021 09:33:10,CT533
25,375140418,11,FUTSTK,JSWSTEEL,26AUG2021,,,JSWSTEEL21AUGFUT,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:36:55,09 AUG 2021 09:36:55,1300000006721967,Nil,09 AUG 2021 09:36:55,CT533
26,375161970,11,OPTSTK,MINDTREE,26AUG2021,2800.00,CE,MINDTREE21AUG2800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:40:37,09 AUG 2021 09:40:37,1300000007877680,Nil,09 AUG 2021 09:40:37,CT533
37,625204581,11,OPTSTK,PVR,26AUG2021,1320.00,PE,PVR21AUG1320PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:43:48,09 AUG 2021 09:43:48,1500000007362358,Nil,09 AUG 2021 09:43:48,CT533
38,625218230,11,OPTSTK,ZEEL,30SEP2021,200.00,CE,ZEEL21SEP200CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:47:11,09 AUG 2021 09:47:11,1500000008154774,Nil,09 AUG 2021 09:47:11,CT533
39,501499970,11,OPTIDX,BANKNIFTY,12AUG2021,35900.00,CE,BANKNIFTY2181235900CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:53:16,09 AUG 2021 09:53:16,1400000014783720,Nil,09 AUG 2021 09:53:16,CT533
40,751177169,11,OPTIDX,BANKNIFTY,12AUG2021,35900.00,PE,BANKNIFTY2181235900PE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:53:16,09 AUG 2021 09:53:16,1600000013072659,Nil,09 AUG 2021 09:53:16,CT533

In [14]:
df[df[17]=='AL304     '][7].unique()

array(['BANKNIFTY2181237800CE    ', 'BANKNIFTY2181233800PE    ',
       'ITC21SEP215PE            ', 'BANKNIFTY2181235900CE    ',
       'BANKNIFTY2181235900PE    ', 'PVR21AUG1320PE           ',
       'PVR21AUG1340CE           ', 'JSWSTEEL21AUGFUT         ',
       'MINDTREE21AUG2800CE      ', 'ZEEL21SEP200CE           '],
      dtype=object)

In [6]:
users = [i for i in df[17].unique()]

In [16]:
df1 = df[df[17]=='AL304     ']

In [17]:
df1[df1[7]=="BANKNIFTY2181237800CE    "]

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,500113235,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:16:50,09 AUG 2021 09:16:50,1400000000878398,Nil,09 AUG 2021 09:16:50,CT533
2,500163051,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001297426,Nil,09 AUG 2021 09:17:40,CT533
3,500163055,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001297456,Nil,09 AUG 2021 09:17:40,CT533
4,500163095,11,OPTIDX,BANKNIFTY,12AUG2021,37800.00,CE,BANKNIFTY2181237800CE,0,,...,AL304,10798,OPEN,UNCOVER,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,1400000001298009,Nil,09 AUG 2021 09:17:40,CT533

In [18]:
df1[df1[7]=="BANKNIFTY2181237800CE    "].transpose()

,0,2,3,4
0,500113235,500163051,500163055,500163095
1,11,11,11,11
2,OPTIDX,OPTIDX,OPTIDX,OPTIDX
3,BANKNIFTY,BANKNIFTY,BANKNIFTY,BANKNIFTY
4,12AUG2021,12AUG2021,12AUG2021,12AUG2021
5,37800.00,37800.00,37800.00,37800.00
6,CE,CE,CE,CE
7,BANKNIFTY2181237800CE,BANKNIFTY2181237800CE,BANKNIFTY2181237800CE,BANKNIFTY2181237800CE
8,0,0,0,0
9,,,,
10,1,1,1,1
11,41493,41493,41493,41493
12,2,2,2,2
13,2,2,2,2
14,25,25,25,25
15,10.5,11.55,11.55,11.55
16,1,1,1,1
17,AL304,AL304,AL304,AL304
18,10798,10798,10798,10798
19,OPEN,OPEN,OPEN,OPEN
20,UNCOVER,UNCOVER,UNCOVER,UNCOVER
21,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
22,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
23,1400000000878398,1400000001297426,1400000001297456,1400000001298009
24,Nil,Nil,Nil,Nil
25,09 AUG 2021 09:16:50,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40,09 AUG 2021 09:17:40
26,CT533,CT533,CT533,CT533

In [26]:
mydict = dict()

In [27]:
for user in users:
    df1 =df[df[17]==user]
    for cont in df1[7].unique():
        df2 = df1[df1[7]==cont]
        mydict[user] = df2

In [29]:
users

['AL304     ',
 'AL310     ',
 'AL306     ',
 'AL303     ',
 'AL307     ',
 'AL314     ',
 'AL313     ',
 'AL301     ',
 'AL312     ']

In [34]:
df1 = df[df[17]==users[0]]

In [40]:
from math import *

In [46]:
df1[df1[7]== df1[7].unique()[0]][15].mean()

11.287500000000001

In [ ]:
total = 0
for i in df1[df1[7]== df1[7].unique()]:\
    print(i)
    # if i[16]== 1:
    #     total += i[14]
    # else :
    #     total -= i[14]

In [10]:
data = dict()
price = dict()
temp = dict()
temp2 = dict()
users = [i for i in df[17].unique()]

In [2]:
for user in users:
    df1 = df[df[17]==user]
    contracts = [i for i in df1[7].unique()]
    for cont in contracts:
        df2= df1[df1[7]==cont]
        for each , row in df2.iterrows():
            if row[13]== 2:
                temp[cont] = row[14]
                try:
                    data[user][cont] -= temp[cont] 
                except:
                    data[user] = temp
            else :
                temp[cont] = row[14]
                try:
                    data[user][cont] += temp[cont] 
                except:
                    data[user] = temp
        temp2[cont] = df2[15].mean()
        price[user] = temp2

NameError: name 'users' is not defined

In [18]:
for user in users:
    for cont in data[user]:
        if data[user][cont] >0:
            print(cont , data[user][cont] , price[user][cont])

BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95
BANKNIFTY2181237800CE     0 11.287500000000001
BANKNIFTY2181233800PE     0 9.700000000000001
ITC21SEP215PE             6400 6.5
BANKNIFTY2181235900CE     50 377.17499999999995
BANKNIFTY2181235900PE     50 222.89999999999998
PVR21AUG1320PE            0 32.25
PVR21AUG1340CE            0 70.0
JSWSTEEL21AUGFUT          2700 750.5
MINDTREE21AUG2800CE       800 105.0
ZEEL21SEP200CE            0 8.4
TATACHEM21AUGFUT          1000 819.2
BRITANNIA21AUGFUT         400 3618.5
MOTHERSUMI21AUGFUT        0 237.3
PVR21AUGFUT               814 1366.55
ZEEL21AUGFUT              6000 197.36666666666665
HINDALCO21AUGFUT          4300 428.4
ADANIPORTS21SEPFUT        2500 713.9
BALKRISIND21AUG2200PE     0 16.9
BALKRISIND21AUG2300PE     800 42.9
BALKRISIND21AUG2400CE     1600 47.55
BALKRISIND21AUG2500CE     0 22.1
BALKRISIND21AUG2600CE     0 10.8
TECHM21AUGFUT             0 1283.4166666666667
BANKNIFTY2181235800CE     50 370.55
BANKNIFTY2181235800PE     0 174.40833333333333
BANKNIFTY2181237000CE     0 31.099999999999998
BANKNIFTY2181235000PE     50 31.23
NIFTY2181216400CE         0 27.95833333333333
NIFTY2181216300CE         100 52.9575
NIFTY2181216200PE         0 43.01875
BANKNIFTY2181236000CE     200 311.25
BANKNIFTY2181236300CE     0 161.00833333333335
BANKNIFTY2181236000PE     50 240.725
NIFTY2181216350CE         400 35.4625
BANKNIFTY2181236500CE     100 96.7875
BANKNIFTY2181236400CE     0 111.8
BANKNIFTY2181237500CE     0 15.835714285714285
BANKNIFTY2181234600PE     0 17.235714285714288
NIFTY2181216300PE         100 98.41999999999999
NIFTY2181216250CE         0 66.17
NIFTY2181216250PE         0 80.185
BANKNIFTY2181236200CE     25 203.6
BANKNIFTY2181235500PE     0 104.05
BANKNIFTY2181236600CE     25 73.15
BANKNIFTY2181235400PE     0 76.9
BANKNIFTY2181236700CE     0 50.95

In [1]:
string = './rahul/fil/path/sample.txt'

In [4]:
string.split("/")[-1] == 'sample.txt'

'sample.txt'