In [1]:
import pandas as pd
import numpy as np 
import datetime

In [2]:
!pwd

/home/rahul/Desktop/CodeSure/tradePlace

In [3]:
contract_filepath = "../Data/contract.txt"
cols = [i for i in range(70)]

df = pd.read_csv(contract_filepath , sep='|' , skiprows=1 , names=cols)

df= df[[0,2,3,6,7,8]]
df.columns = ['Token No','Instrument','Script', 'Expiry' , 'Price' , 'Type']
df.dropna(inplace=True)
df['Price'] = df['Price'].apply(lambda x: (x/100)).astype('int')
dChange =int(datetime.datetime(1980, 1,1,0,0).timestamp())
df['Expiry'] = df['Expiry'].apply(lambda x: datetime.datetime.fromtimestamp(dChange + x).strftime('%d-%m-%Y')).astype('datetime64')
df.reset_index(drop=True ,inplace=True)

In [4]:
df

       Token No Instrument     Script     Expiry  Price Type
0         35000     OPTIDX  BANKNIFTY 2021-01-07  28700   CE
1         35001     OPTIDX  BANKNIFTY 2021-01-07  28700   PE
2         35008     OPTIDX  BANKNIFTY 2021-01-07  28200   CE
3         35009     OPTIDX  BANKNIFTY 2021-07-29  28800   CE
4         35010     OPTIDX  BANKNIFTY 2021-07-29  28800   PE
...         ...        ...        ...        ...    ...  ...
68539    128524     OPTSTK       ZEEL 2021-07-29    265   PE
68540    128525     OPTSTK       ZEEL 2021-07-29    270   CE
68541    128526     OPTSTK       ZEEL 2021-07-29    270   PE
68542    128527     OPTSTK       ZEEL 2021-07-29    275   CE
68543    128528     OPTSTK       ZEEL 2021-07-29    275   PE

[68544 rows x 6 columns]

In [6]:
df[(df["Instrument"]=="FUTIDX") & (df["Expiry"]=="2021-07-29")]

       Token No Instrument     Script     Expiry  Price Type
12066     53179     FUTIDX  BANKNIFTY 2021-07-29      0   XX
12067     53180     FUTIDX   FINNIFTY 2021-07-29      0   XX
12068     53181     FUTIDX      NIFTY 2021-07-29      0   XX