In [1]:
emptyVars = []

In [ ]:
for i in range(10):
    vars = {}
    vars.update({"new":[]})
    vars.update({"old":[]})

    vars['new'].append(1)
    vars['new'].append(2)
    print(vars)

In [29]:
import pandas as pd 
import random

In [32]:
df = pd.DataFrame(columns=['One' ,'two' , 'Three'])

In [33]:
for i in range(100):
    df.loc[len(df.index)] = ['Amy',random.randint(0,1000) ,random.randint(0,1000)]

In [40]:
df['New']= ""

In [41]:
df

    One   two Three New
0   Amy   392   607
1   Amy   765   958
2   Amy   746    25
3   Amy   644   823
4   Amy  1000   271
..  ...   ...   ...  ..
95  Amy   553   831
96  Amy   261   693
97  Amy   129   683
98  Amy   287   430
99  Amy    93   126

[100 rows x 4 columns]