In [8]:
import pandas as pd
import pandas_datareader.data as web
import pandas_datareader as pdr
import datetime

In [6]:
start = datetime.datetime(1995 , 1, 1)
end = datetime.datetime.now()

In [20]:
df = web.DataReader('^NSEI' , 'yahoo' , start ,end)
comp = pd.read_csv('../../data/Equity/NSE50.csv')

In [30]:
comp['Date'] = pd.to_datetime(comp['Date'])
comp.index = comp['Date']
comp.drop('Date' , axis = 1 , inplace=True)

In [21]:
df.head(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2007-09-17,4549.049805,4482.850098,4518.450195,4494.649902,0.0,4494.649902
2007-09-18,4551.799805,4481.549805,4494.100098,4546.200195,0.0,4546.200195
2007-09-19,4739.000000,4550.250000,4550.250000,4732.350098,0.0,4732.350098
2007-09-20,4760.850098,4721.149902,4734.850098,4747.549805,0.0,4747.549805
2007-09-21,4855.700195,4733.700195,4752.950195,4837.549805,0.0,4837.549805
2007-09-24,4941.149902,4837.149902,4837.149902,4932.200195,0.0,4932.200195
2007-09-25,4953.899902,4878.149902,4939.100098,4938.850098,0.0,4938.850098
2007-09-26,4980.850098,4930.350098,4937.600098,4940.500000,0.0,4940.500000
2007-09-27,5016.399902,4942.700195,4942.700195,5000.549805,0.0,5000.549805
2007-09-28,5055.799805,4996.450195,4996.450195,5021.350098,0.0,5021.350098

In [33]:
comp.loc['2007-09-17':]

,Ticker,Time,Open,High,Low,Close,Volume,OI
Date,,,,,,,,
2007-09-17,NSE50,00:00:00,4518.4502,4549.0498,4482.8501,4494.6499,481724640,0
2007-09-18,NSE50,00:00:00,4494.1001,4551.7998,4481.5498,4546.2002,548134144,0
2007-09-19,NSE50,00:00:00,4550.2500,4739.0000,4550.2500,4732.3501,687929920,0
2007-09-20,NSE50,00:00:00,4734.8501,4760.8501,4721.1499,4747.5498,676821376,0
2007-09-21,NSE50,00:00:00,4752.9502,4855.7002,4733.7002,4837.5498,1014615232,0
...,...,...,...,...,...,...,...,...
2021-03-15,NSE50,00:00:00,15038.5498,15044.9004,14745.8496,14920.9004,358,0
2021-03-16,NSE50,00:00:00,15005.2002,15051.5996,14890.6504,14922.0000,375,0
2021-03-17,NSE50,00:00:00,14955.7002,14956.5498,14696.0498,14709.2500,375,0
2021-03-18,NSE50,00:00:00,14837.3496,14875.2002,14478.5996,14583.7002,375,0
2021-03-19,NSE50,00:00:00,14478.9004,14788.2500,14350.0996,14735.7002,375,0

In [34]:
df.drop(['Volume' , "Adj Close"] , axis=1 , inplace=True)

In [36]:
df.head()

                   High          Low         Open        Close
Date
2007-09-17  4549.049805  4482.850098  4518.450195  4494.649902
2007-09-18  4551.799805  4481.549805  4494.100098  4546.200195
2007-09-19  4739.000000  4550.250000  4550.250000  4732.350098
2007-09-20  4760.850098  4721.149902  4734.850098  4747.549805
2007-09-21  4855.700195  4733.700195  4752.950195  4837.549805

In [37]:
df = df.loc['2011':]

In [38]:
df.head()

                   High          Low         Open        Close
Date
2011-01-03  6178.549805  6147.200195  6177.450195  6157.600098
2011-01-04  6181.049805  6124.399902  6172.750000  6146.350098
2011-01-05  6141.350098  6062.350098  6141.350098  6079.799805
2011-01-06  6116.149902  6022.299805  6107.000000  6048.250000
2011-01-07  6051.200195  5883.600098  6030.899902  5904.600098

In [39]:
df.tail()

                    High           Low          Open         Close
Date
2021-04-01  14883.200195  14692.450195  14798.400391  14867.349609
2021-04-05  14849.849609  14459.500000  14837.700195  14637.799805
2021-04-06  14779.099609  14573.900391  14737.000000  14683.500000
2021-04-07  14879.799805  14649.849609  14716.450195  14819.049805
2021-04-08  14953.700195  14864.549805  14875.650391  14949.000000